<h2> Olá {{ name }},</h2>

<p>Parace que você esqueceu sua senha. Caso queira prosseguir clique no link abaixo:</p>
<p><a href="{{ resetPasswordUrl }}" target="_black" >Recuperar senha</a></p>
<p>Caso você não fez essa solicitação, desconsidere esse email</p>
<p><strong>Equipe vCnaFacul</strong></p>